.skills-icon  {

  font-size: 100px;
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

.skills-descr{
  font-size: 14px;
}

.redux{
  height: 100px;
  width: 100px;
}

.github-icon-in-projects {
  font-size: 50px;
}


.projects-img {
  height: 220px;
}
